  .App {
    text-align: center;
    background-image: url(/public/ImagenesInvitacion/FotoChida.png);
    background-size: cover;
    background-position: center;
    min-height: 150vh;
    height: auto;
    image-rendering: crisp-edges;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .title{
    font-family: 'Imperial Script', cursive;
    font-size: clamp(1rem, 10vw, 8rem);
    color:#006527;
    text-align: left;
    font-weight: bold;
    padding: 2rem 1rem 0;
    margin-bottom: -2rem;
    
  }

  .name{
    font-family: 'Imperial Script', cursive;
    color:#006527;
    font-weight: bold;
    text-align: center;
    font-size: clamp(1rem, 10vw, 8rem);
    padding: 2rem 1rem 0;
    width: fit-content;
    margin-left: 0;
    
  }

  .imperial-script-regular {
    font-family: "Imperial Script", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .timer{
    font-family: 'Imperial Script', cursive;
    font-size: clamp(1rem, 8vw, 7rem);
  }

  .App-link {
    color: #61dafb;
  }

  .rotated-container{
    width: clamp(330px, 90vw, 1366px);
    position: absolute;
    top:0;
    right: 0;
    height:clamp(330px, 90vw, 1366px);
    transform: 
      translate(50%) 
      rotate(20deg); 
    
    /* background-color: white; */
    
    transform-origin: top right;
    z-index: 0;
    margin: 2rem auto;
  }

  .camera-reel{
    width: 100%;
    height: auto;
    position: relative;
    z-index: 0;
    max-height: 110%;
    object-fit: contain;
  }

  .sliding-image {
    position: absolute;
    width: 30%;
    height: 30%;
    clip-path: inset(0 0 100% 0);
    animation-name: slide, reveal;
    animation-duration: 12s, 12s;
    animation-timing-function: linear, linear;
    animation-delay: calc(var(--i)*4s), calc(var(--i)*4s);
    animation-iteration-count: infinite, infinite;
    animation-fill-mode: backwards, backwards;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    z-index: 0;
    aspect-ratio: 1/1;
    will-change: transform, opacity;
  }
  

  @keyframes reveal {
    0%,100% {
      clip-path: inset(0 0 100% 0); 
    }
    5%{
      clip-path: inset(0 0 20% 0); 
    }
    7%{
      clip-path: inset(0 0 2% 0); 
    }
    70% {
      clip-path: inset(0 0 0 0);
    }
  }

  @keyframes slide{
    0%{
      transform: translate(-220%, 335%);
    }
    100%{
      transform: translate(-200%, -850%);
    }
  }

  .butterfly, .flower{
    position: absolute;
    width: 20%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.5));
    z-index: 1;
  }
  .b1 { bottom:40% ;left: 20%; }
  .b2 {bottom:20% ;left: 57%; width: 15%;}
  .b3 {bottom: 0%; left: 20%;}
  .group {bottom:15%; left: 20%;}
  .f1 {bottom: -20%;rotate: 70deg; left: 50%; width: 25%;}
  .f2 {bottom: 60%; left: 32%; rotate: 90deg;}

  .countdown-container{
    position: relative;
    font: "Imperial Script", cursive;
    width: 100%;
    height: auto;
    object-fit: contain;
    right: 17%;
    
  }

  .content-wrapper{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem auto;
    
  }

  .timer{
    width: clamp(280px, 80vw, 1200px); 
    position: relative;

  }

  .buttons-names{
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .buttons{
    position: relative;
    display: flex;
    justify-content: space-around;
  }

  .responsive-btn {
    width:clamp(50px, 15vw, 850px);
    padding: clamp(4px, 1vw, 70px);
    font-size: clamp(6px, 2.5vw, 30px);
    background: #7C7121;
    color: white;
    border-radius:15%;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  } 

  .names{
    display: flex;
    justify-content: space-around;
  }

  .icons{
    position: relative;
    width: 10%;
    height: auto;
    object-fit: contain;
    aspect-ratio: 1/1;
    margin-top: 3em;
  }

  .Prayer-container {
    width: clamp(280px, 90vw, 1300px); 
    min-height: 80vh;
    position: relative; 
    margin: 6rem auto;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0.25em solid #7C7121;
  }

  .Font1-Prayer{
    font-family: 'Inika';
    font-size: clamp(1rem, 8vw, 4rem);
    color: #7C7121;
  }

  .Font2-Prayer{
    font-family: 'Inika';
    font-size: clamp(1rem, 4vw, 3rem);
    color: #7C7121;
    font-weight: bold;
  }

  .Names-Prayer{
    margin: 0rem 0;
  }


  .label{
    font: "Imperial Script", cursive;
    font-weight: 400;
    font-style: normal;
  }
