.App {
  text-align: center;
  background-image: url(/public/ImagenesInvitacion/FotoChida.png);
  background-size: cover;
  background-position: center;
  height: 150vh;
  image-rendering: crisp-edges;
  position: relative;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.imperial-script-regular {
  font-family: "Imperial Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.App-link {
  color: #61dafb;
}

.rectangulo-rotado{
  width: 25vw;
  position: absolute;
  top:0;
  right: 0;
  height: 70vh;
  transform: 
    translate(50%) 
    rotate(20deg); 
  /* background-color: white; */
  transform-origin: top right;
  z-index: 0;
}

.sliding-image{
  position: absolute;
  width: 25vw;
  height: 20vw;
  animation: slide 12s linear infinite;
  animation-delay: calc(var(--i)*4s);
  transform-origin: left center; 
  transform-origin: right center; 
}

@keyframes slide{
  0%{
    transform: translate(-70%, 650%);
  }
  100%{
    transform: translate(-70%, -450%);
  }
}

.butterfly-1{
  position: absolute;
  
  filter: drop-shadow(0 0 10px rgba(0,0,0,0.5));
  rotate: 25deg;
}

.butterfly-2{
  position: absolute;
  width: 25vw;
  filter: drop-shadow(0 0 10px rgba(0,0,0,0.5));
}

.flower{
  position: absolute;
  width: 30vw;
  filter: drop-shadow(0 0 10px rgba(0,0,0,0.5));
  rotate: 90deg;
}

.countdown-container{
  position: absolute;
  right: 50vw;
  top:35vh;
  font: "Imperial Script", cursive;
  width: 50vw;
}

.label{
  font: "Imperial Script", cursive;
  font-weight: 400;
  font-style: normal;
}