.Main-page{
    background-image: url(/public/ImagenesInvitacion/FotoChida.png);
    background-size: cover;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;    
    text-align: center;
}
.Images{
    position: relative;
    display: flex;
    align-items: center;
}

@media(max-width: 766px){
    .Images{
        flex-direction: column;
        justify-content: space-between;
    }
    .Roca-L-Club-1{
        margin-bottom: -5em;
        margin-left: -2em;
    }
}

.Roca-L-Club-1{
    clip-path: inset(25.75% 0 25.75% 0);
    width: clamp(350px, 60vw, 800px);
    position: relative;
    object-fit: contain;
    aspect-ratio: 1/1;
    margin-right: -2em;
}

.Roca-L-Club-2{
    border-radius: 10%;
    width: clamp(275px, 40vw, 870px);
    position: relative;
    object-fit: contain;
    aspect-ratio: 1/1;
}


.Info{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 2em;
    text-align: center;
}
.Title{
    position: relative;
    font-family: 'Inika';
    font-size: clamp(1rem, 8vw, 4rem);
    color: #7C7121;
}

.Details{
    position: relative;
    font-family: 'Inika';
    font-size: clamp(1.5rem, 4vw, 3rem);
    color: #7C7121;
    margin: auto;
    padding: 2em;
}

.responsive-btn-Ubicacion {
    width:clamp(150px, 18vw, 890px);
    padding: clamp(4px, 1vw, 70px);
    font-size: clamp(20px, 4vw, 30px);
    background: #7C7121;
    color: white;
    border-radius:15%;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  } 

.image {
    transition: transform 0.3s ease;
  }
  
  .Title, .Details {
    will-change: transform, opacity;
  }